<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<link rel="stylesheet" href="style.css" />-->
  </head>
  <body>
    <div class="box">
      <span style="--i: 1">
        <a  routerLink="/zodiac/{{firstlevel}}/1">
          <img src="assets/images/family.png" alt="Family" />
          <div class="text">Family</div>
        </a>
      </span>
      <span style="--i: 2">
        <a  routerLink="/zodiac/{{firstlevel}}/2">
          <img src="assets/images/lifestyle.png" alt="Lifestyle" />
          <div class="text">Lifestyle</div>
        </a>
      </span>
      <span style="--i: 3">
        <a  routerLink="/zodiac/{{firstlevel}}/3">
          <img src="assets/images/character.png" alt="Character" />
          <div class="text">Character</div>
        </a>
      </span>
      <span style="--i: 4">
        <a  routerLink="/zodiac/{{firstlevel}}/4">
          <img src="assets/images/love.png" alt="Love" />
          <div class="text">Love Life</div>
        </a>
      </span>
      <span style="--i: 5">
        <a  routerLink="/zodiac/{{firstlevel}}/5">
          <img src="assets/images/career.png" alt="Career" />
          <div class="text">Career</div>
        </a>
      </span>
      <span style="--i: 6">
        <a  routerLink="/zodiac/{{firstlevel}}/6">
          <img src="assets/images/health.png" alt="Health" />
          <div class="text">Health</div>
        </a>
      </span>
      <span style="--i: 7">
        <a  routerLink="/zodiac/{{firstlevel}}/7">
          <img src="assets/images/finance.png" alt="Finance" />
          <div class="text">Finance</div>
        </a>
      </span>
      <span style="--i: 8">
        <a  routerLink="/zodiac/{{firstlevel}}/8">
          <img src="assets/images/education.png" alt="Education" />
          <div class="text">Education</div>
        </a>
      </span>
    </div>
    <div  class="button-container-back">
      <button routerLink="/maincontent"> Back to main Screen </button>
    </div>
    <div  class="button-container">
      <button routerLink="/user-details"> Need to know more </button>
    </div>
  </body>
</html>

